@use 'sass:map';
@use 'mixins/mixins' as *;
@use 'mixins/function' as *;
@use 'root/var' as *;

$checkbox-box-shadow: 0 0 0 1px getCssVar('color-gray-bg');
$checkbox-box-shadow-active: 0 0 0 1px getCssVar('color-primary');
$checkbox-box-shadow-focus: 0 0 0 1px getCssVar('color-primary'),
  0 0 0 2px rgba(map.get($colors, 'primary', 'base'), 0.2);
$checkbox-box-shadow-disabled: 0 0 0 1px getCssVar('color-gray-bg');

@include b(checkbox-button){
  height: map.get($checkbox-height, 'default');
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: getCssVar('font-size');
  line-height: 1;
  cursor: pointer;

  &:first-child {
    .#{$namespace}-checkbox-button__inner {
      border-radius: getCssVar('border-radius', 'base') 0 0
        getCssVar('border-radius', 'base');
    }
  }

  &:last-child {
    .#{$namespace}-checkbox-button__inner {
      border-radius: 0 getCssVar('border-radius', 'base')
        getCssVar('border-radius', 'base') 0;
    }
  }
  
  &:only-child {
    background-color: red;
    .#{$namespace}-checkbox-button__inner {
      border-radius: getCssVar('border-radius', 'base');
    }
  }

  @include e(inner) {
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: getCssVar('color-white');
    color: getCssVar('text-color', 'base');
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    user-select: none;
    padding: getCssVar('spacing', 'normal') getCssVar('spacing', 'normal');
    box-shadow: $checkbox-box-shadow;
    transition: box-shadow 0.3s getCssVar('bezier');

  }
  @include when(checked) {
    .#{$namespace}-checkbox-button__inner{
      box-shadow: $checkbox-box-shadow-active;
      color: getCssVar('color-primary');
      z-index: 1;
    }  
  }

  &:focus:not(:active) {
    &.is-checked {
      .#{$namespace}-checkbox-button__inner {
        box-shadow: $checkbox-box-shadow-focus;
        z-index: 2;
      }
    }
  }

  &:hover{
    .#{$namespace}-checkbox-button__inner{
      color: getCssVar('color-primary');
    }
  }

  @each $size in (small, large) {
    &.#{$namespace}-checkbox-button--#{$size} {
      height: map.get($checkbox-height, $size);
      font-size: getCssVar('font-size', $size);
      .#{$namespace}-checkbox-button__inner {
        @if $size == 'small' {
          padding: getCssVar('spacing', $size) getCssVar('spacing', 'normal');
        }
      }
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    .#{$namespace}-checkbox-button__inner {
      color: getCssVar('color-gray-bg');
      box-shadow: $checkbox-box-shadow-disabled;
      cursor: not-allowed;
    }
  }
}