@use 'sass:map';
@use 'mixins/mixins' as *;
@use 'mixins/function' as *;
@use 'root/var' as *;

$radio-box-shadow: inset 0 0 0 1px getCssVar('color-gray-bg');
$radio-box-shadow-active: inset 0 0 0 1px getCssVar('color-primary');
$radio-box-shadow-focus: inset 0 0 0 1px #18a058, 0 0 0 2px rgba(24, 160, 88, 0.2);

@include b(radio) {
  position: relative;
  height: map.get($radio-height, 'default');
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  -webkit-user-select: none;
  font-size: getCssVar('font-size');
  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }

  @include e(input) {
    position: absolute;
    border: 0;
    border-radius: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  @include e(dot-wrapper) {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: getCssVar('font-size');
  }

  @include e(dot) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: getCssVar('font-size');
    width: getCssVar('font-size');
    background: getCssVar('color-white');
    box-shadow: $radio-box-shadow;
    border-radius: 50%;
    transition:
      background-color .3s getCssVar('bezier'),
      box-shadow .3s getCssVar('bezier');

    &::before {
      content: "";
      opacity: 0;
      position: absolute;
      left: 2px;
      top: 2px;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      border-radius: 50%;
      transform: scale(.8);
      background: getCssVar('color-primary');
      transition:
        opacity .3s getCssVar('bezier'),
        background-color .3s getCssVar('bezier'),
        transform .3s getCssVar('bezier');
    }

    & {
      @include when(check) {
        box-shadow: $radio-box-shadow-active;

        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    
  }
  @include e(focus) {
    &:not(:active) {
      .#{$namespace}-radio__dot {
        box-shadow: $radio-box-shadow-focus !important;
      }
    }
  }
  @include e(label) {}

}