@use 'sass:map';
@use 'mixins/mixins' as *;
@use 'mixins/function' as *;
@use 'root/var' as *;

$radio-box-shadow: inset 0 0 0 1px getCssVar('color-gray-bg');
$radio-box-shadow-active: inset 0 0 0 1px getCssVar('color-primary');
$radio-box-shadow-focus: inset 0 0 0 1px getCssVar('color-primary'),
  0 0 0 2px rgba(map.get($colors, 'primary', 'base'), 0.2);
$radio-box-shadow-disabled: inset 0 0 0 1px getCssVar('color-gray-bg');

@include b(radio) {
  height: map.get($radio-height, 'default');
  outline: none;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  font-size: getCssVar('font-size');
  line-height: 1;
  margin-right: getCssVar('spacing', 'normal');

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .#{$namespace}-radio__dot {
      box-shadow: $radio-box-shadow-active;
    }
  }

  @include e(input) {
    position: absolute;
    border: 0;
    border-radius: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  @include e(dot-wrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(dot) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: getCssVar('font-size');
    width: getCssVar('font-size');
    background: getCssVar('color-white');
    box-shadow: $radio-box-shadow;
    border-radius: 50%;
    transition: background-color 0.3s getCssVar('bezier'),
      box-shadow 0.3s getCssVar('bezier');

    &::before {
      content: '';
      opacity: 0;

      height: calc(100% - 6px);
      width: calc(100% - 6px);
      border-radius: 50%;
      transform: scale(0.8);
      transform-origin: center center;
      background-color: getCssVar('color-primary');
      transition: opacity 0.3s getCssVar('bezier'),
        background-color 0.3s getCssVar('bezier'),
        transform 0.3s getCssVar('bezier');
    }

    & {
      @include when(check) {
        box-shadow: $radio-box-shadow-active;

        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  @include when(focus) {
    &:not(:active) {
      .#{$namespace}-radio__dot {
        box-shadow: $radio-box-shadow-focus;
      }
    }
  }

  @include e(label) {
    padding: 0 getCssVar('spacing', 'small');
    color: getCssVar('text-color', 'base');
    transition: color 0.3s getCssVar('bezier');
  }
  @include when(disabled) {
    cursor: not-allowed;
    .#{$namespace}-radio__dot {
      box-shadow: $radio-box-shadow-disabled;
      &::before {
        background-color: getCssVar('color-gray-bg');
      }
    }
    .#{$namespace}-radio__label {
      color: getCssVar('color-gray-bg');
    }
    .#{$namespace}-radio__input {
      cursor: not-allowed;
    }
    @include when(focus) {
      &:not(:active) {
        .#{$namespace}-radio__dot {
          box-shadow: $radio-box-shadow;
        }
      }
    }
  }
  @each $size in (small, large) {
    &.#{$namespace}-radio--#{$size} {
      height: map.get($radio-height, $size);
      font-size: getCssVar('font-size', $size);
      .#{$namespace}-radio__dot {
        height: getCssVar('font-size', $size);
        width: getCssVar('font-size', $size);
      }
    }
  }
}

@include b(radio-group) {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0;
}
