@use 'sass:map';

// Base
$color-white:#ffffff;
$color-black: #000000;

// Primary
$color-primary:#2080f0;
$color-primary-light-1:#4098fc;
$color-primary-light-2:#ecf5ff;
$color-primary-dark-1: #2080f0;

// Success
$color-success:#18a058;
$color-success-light-1:#36ad6a;
$color-success-light-2:#36ad6a;
$color-success-dark-1: #529b2e;

// Warning
$color-warning:#f0a020;
$color-warning-light-1:#fcb040;
$color-warning-light-2:#fdf6ec;
$color-warning-dark-1: #c97c10;

// Error
$color-error:#d03050;
$color-error-light-1:#de576d;
$color-error-light-2:#fef0f0;
$color-error-dark-1: #ab1f3f;

// Info
$color-info:#1F1F23;
$color-info-light-1:#3D3D44;
$color-info-light-2:#f4f4f5;
$color-info-dark-1: #2F2E30;

// Bezier
$bezier: cubic-bezier(0, 0, 0.2, 1);

// Text-Color
$text-color-base: #606266;

// Font-Size
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-base: 14px;
$font-size-small: 13px;
$font-size-mini: 12px;

$font-size: () !default;
$font-size: map.merge(
  (
    'font-size-mini': $font-size-mini,
    'font-size-small': $font-size-small,
    'font-size-normal': $font-size-base,
    'font-size-medium': $font-size-medium,
    'font-size-large': $font-size-large,
  ),
  $font-size
);


// Font-Weight
$font-weight-base: 500;
$font-weight-bold: 600;

$font-weight: () !default;
$font-weight: map.merge(
  (
    'font-weight-base': $font-weight-base,
    'font-weight-bold': $font-weight-bold,
  ),
  $font-weight
);

// Border
$border-width: 1px;
$border-style: solid;
$border-color-base: #dcdfe6;
$border: $border-width $border-style $border-color-base;

// Border-Radius
$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-round: 20px;
$border-radius-circle: 100%;

$border-radius: () !default;
$border-radius: map.merge(
  (
    'border-radius-small': $border-radius-small,
    'border-radius-base': $border-radius-base,
    'border-radius-round': $border-radius-round,
    'border-radius-circle': $border-radius-circle,
  ),
  $border-radius
);

// spacing
$spacing-mini: 1px;
$spacing-small: 4px;
$spacing-normal: 8px;
$spacing-large: 16px;
$spacing-huge: 20px;

$spacing: () !default;
$spacing: map.merge(
  (
    'spacing-mini': $spacing-mini,
    'spacing-small': $spacing-small,
    'spacing-normal': $spacing-normal,
    'spacing-large': $spacing-large,
    'spacing-huge': $spacing-huge,
  ),
  $spacing
);
