// 声明公共sass方法
@use 'config' as *;
@forward 'config';
@forward '_function-var';
@forward 'function';
@forward '_button';

@mixin b($block) {
  $B: $namespace + '-' + $block !global;
  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $currentSelector: &;
  @each $unit in $element {
    $currentSelector: $currentSelector + $element-separator + $unit + ',';
  }
  #{$currentSelector} {
    @content;
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: $selector + $modifier-separator + $modifier + ',';

  #{$currentSelector} {
    @content;
  }
}

@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
